<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am currently majoring in Computer Science at Carleton College. I will be graduating this coming June and will begin a summer job as a Fire Lookout in Idaho and then (hopefully) travel to Japan in the fall. I am interested in developing Mobile Applications for the Android platform, although I am always interested in experimenting with new technologies.</p>
                                </div>
                            </div>

                            <div class="timeline-panel-right">
                                <div class="timeline-heading">
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <div class="text-muted">
                                        <h4 class="subheading">Age: 22</h4>
                                        <h4 class="subheading">Location: Idaho</h4>
                                        <h4 class="subheading">Education: Carleton College</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Hobbies</h3>
                </div>
                {% include hobbies.html %}
            </div>

        </div>
    </section>