  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Resumé</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class = "row">
            <p>Down icon created by <a href = "http://www.flaticon.com/authors/dave-gandy">Dave Gandy</a> on <a href="www.flaticon.com">Flaticon.com</a></p>
            <p>Natural Language Processing icon created by <a href = "http://www.flaticon.com/authors/freepik">Freepik</a> on <a href="www.flaticon.com">Flaticon.com</a></p>
            <p>Android icon created by <a href = "http://www.flaticon.com/authors/freepik">Freepik</a> on <a href="www.flaticon.com">Flaticon.com</a></p>
            <p>Software Design icon created by <a href = "http://www.flaticon.com/authors/freepik">Freepik</a> on <a href="www.flaticon.com">Flaticon.com</a></p>
            </div>
        </div>
    </footer>