<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <img src="img/hobbies/hiking.jpg" class="img-responsive img-centered" alt="">
                    <h5 class = "hobbies">Hiking</h5>
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="img/hobbies/hockey.jpg" class="img-responsive img-centered" alt="">
                    <h5 class = "hobbies">Hockey</h5>
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="img/hobbies/sculpting.jpg" class="img-responsive img-centered" alt="">
                    <h5 class = "hobbies">Sculpting</h5>
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="img/hobbies/skiing.jpeg" class="img-responsive img-centered" alt="">
                    <h5 class = "hobbies">Skiing</h5>
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="img/hobbies/travel.jpg" class="img-responsive img-centered" alt="">
                    <h5 class = "hobbies">Travelling</h5>
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="img/hobbies/dogs.jpg" class="img-responsive img-centered" alt="">
                    <h5 class = "hobbies">Playing</h5>
                </div>
            </div>
        </div>
    </aside>