<!-- Skills Section -->
    <section id="skills" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                </div>
            </div>
             <br>
            <div class="row">
                <h3 class="skills">Programming</h3>


                 <div class="horizontal-container">
                    {% for skill in site.skills_programming %}
                        <div class="col-md-6 col-sm-10 portfolio-item">
                             <table class="ratings-table">
                                <tr>
                                    <td><h4 class = "text-muted">{{ skill.skill }}</h4></td>
                                    <td><h3 class = "ratings" 
                                    {% for num in (1..{{skill.rating}}) %}
                                        <span>●</span>
                                    {% endfor %}
                                    {% for num in ({{skill.rating}}..4) %}
                                        <span>○</span>
                                    {% endfor %}
                                     </h3>
                                </td> 
                                </tr>
                                </table>
                                </div>

                {% endfor %}
                </table>
            </div>
            </div>
             <br>
            <div class="row">
                <h3 class="skills">Languages</h3>


                 <div class="horizontal-container">
                    {% for skill in site.skills_languages %}
                        <div class="col-md-6 col-sm-10 portfolio-item">
                             <table class="ratings-table">
                                <tr>
                                    <td><h4 class = "text-muted">{{ skill.skill }}</h4></td>
                                    <td><h3 class = "ratings" 
                                    {% for num in (1..{{skill.rating}}) %}
                                        <span>●</span>
                                    {% endfor %}
                                    {% for num in ({{skill.rating}}..4) %}
                                        <span>○</span>
                                    {% endfor %}
                                     </h3>
                                </td> 
                                </tr>
                                </table>
                                </div>

                {% endfor %}
                </table>

            </div>
            </div>
            <br>

            <div class="row">
                <h3 class="skills">Tools</h3>


                 <div class="horizontal-container">
                    {% for skill in site.skills_tools %}
                        <div class="col-md-6 col-sm-10 portfolio-item">
                             <table class="ratings-table">
                                <tr>
                                    <td><h4 class = "text-muted">{{ skill.skill }}</h4></td>
                                    <td><h3 class = "ratings" 
                                    {% for num in (1..{{skill.rating}}) %}
                                        <span>●</span>
                                    {% endfor %}
                                    {% for num in ({{skill.rating}}..4) %}
                                        <span>○</span>
                                    {% endfor %}
                                     </h3>
                                </td> 
                                </tr>
                                </table>
                                </div>

                {% endfor %}
                </table>

            </div>
            </div>

        </div>
    </section>